<% provide(:title, 'Finished Evaluation') %>
<h13> You have no other team members to evaluate at this time</h13>

<div class="col-md-10 text-center" > 
       <%= link_to "Return to Homepage", current_user, class: "btn btn-lg btn-default" %>
       <%= link_to "Log Out", current_user, class: "btn btn-lg btn-default" %>
       </div>
    </section>