<% provide(:title, 'Reset') %>
<div class="col-md-10 text-center" > 
<h2>Reset</h2>
<h13> Warning: If you confirm, all questions and comments will be reset and all grades will be lost.</h13>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <aside class="col-md-11 col-md-offset-1">
      <div class="form-group">
            <div class="form-inline">
              <div class="form-group">
                <%= f.radio_button :flag, true, :checked => true %>
      </div>
       </div>
        </div>
     
   <div class="col-md-9 col-md-offset-0">
      <%= f.submit "Reset Averages", class: "btn btn-danger" %>
  </div>
      
    <% end %>
    
  </div>
</div>